<div class="home">
    <div class="carousel warp">
        <nz-carousel nzAutoPlay nzEffect="fade">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img appImgDefault [src]="item.imageUrl" />
                </a>
            </div>
        </nz-carousel>
    </div>
    <div class="main">
        <div class="wrap">
            <div class="left">
                <div class="sec">
                    <div class="up">
                        <div class="navs">
                          <h2>
                            <i></i>
                            <a>热门推荐</a>
                          </h2>
                          <nav>
                           <a>111</a>
                           <a>111</a>
                           <a>111</a>
                           <a>111</a>
                           <a>111</a>
                          </nav>
                        </div>
                        <a>
                          更多
                          <i nz-icon type="arrow-right" theme="outline"></i>
                        </a>
                      </div>
                    <div class="down">
                        <div class="down-wrap">aaa</div>
                    </div>
                </div>
            </div>
            <div class="right">right</div>
        </div>
    </div>
</div>